SUPABASE_URL=https://xpwylsnkjmldeojxbxbk.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhwd3lsc25ram1sZGVvanhieGJrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcyNjQ5NjU1NywiZXhwIjoyMDQyMDcyNTU3fQ.ynvuosXGY8ns7ZXLrUinuNKtJ9QdPmVcNThgjzaWY-c